!!!
%html{:lang=>"zh"}
  %head
    =render_page_title
    %meta{:charset => "utf-8"}
    = stylesheet_link_tag "application", :media => "all"
    /[if lt IE 9]
      = javascript_include_tag "html5shiv/dist/html5shiv.js"
    = yield(:head)
  %body
    %div{class:"ganli-page"}
      =render "/pages/header"
      =render "/layouts/message"
      = yield
      =render '/pages/friendly_links'
      =render '/pages/footer'
    = javascript_include_tag "application"
    = yield(:javascript)